.not-synced {
	position: relative;
	opacity: 1;
}

.not-synced::after {
	content: attr(data-commits-behind);
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 0.6rem;
	height: 0.6rem;
	font-size: 0.5rem;
    background-color: var(--color-base-00);
	color: white;
}
